$color-first: rgb(124, 211, 233);
$color-success: rgb(28, 170, 28);
$color-warning: rgb(163, 7, 7);

$font-text: 'Montserrat',
sans-serif;
/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
}
section {
  padding: 96px 0;
  background-color: #fff;
}

/* Section Intro */
.intro {
  height: 90vh;
  background-image: url(https://i.postimg.cc/GhqqwmjN/sn-rockpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    padding: 8px 0;
    font-size: 16px;
    font-weight: normal;
  }

  a {
    display: block;
    margin-top: 16px;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  i {
    transition: .3s;
  }

  span {
    padding-left: 16px;
  }

  a:hover i {
    color: $color-success;
  }
}

/* Section Rules */
.container {
  margin: 0 auto;

  h1 {
    padding: 30px;
    text-transform: uppercase;
  }
  p, span {
    color: black;
    font-weight: 400;
    line-height: 50px;
    transition: all 0.3s 0s ease;
  }

  p:hover span {
    color: $color-warning;
    font-weight: 600;
  }
}


/* Section Game */
.game {
  h1 {
    font-style: italic;
  }
}
.buttons {
  border: 1px solid black;
}
.btn {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    background-color: $color-success;
    outline: none;
    transition: all 0.2s;
}
.btn:hover {
    background: #db7b27;
}

.game-title {
  font-size: 30px;
  text-transform: uppercase;
}
.ready {
  padding: 10px 0 20px 0;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.message {
  padding: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

