$color-first: rgb(124, 211, 233);
$color-success: rgb(28, 170, 28);
$color-warning: rgb(163, 7, 7);

$font-text: 'Montserrat',
sans-serif;
/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
}
section {
  padding: 96px 0;
  background-color: #fff;
}

/* Section Intro */
.intro {
  height: 100vh;
  background-image: url(https://i.postimg.cc/GhqqwmjN/sn-rockpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    padding: 12px 0;
    font-size: 18px;
    font-weight: normal;
  }
  h2 > span {
    color: yellowgreen;
  }

  a {
    display: inline-block;
    margin: 20px auto 0 auto;
    text-decoration: none;
    transition: .4s;

    span {
      display: none;
      font-size: 20px;
      text-transform: uppercase;
      color: black;
    }

    i {
      font-size: 50px;
      color: yellowgreen;
      width: 60px;
      height: 60px;
      line-height: 60px;
      transform: scale(1);
      transition: .3s;
    }
    
    i:hover {
      transform: scale(1.1, 1.1);;
    }
  }
}

/* Section Game */
.game {
  height: 100vh;
}

.rules {
  position: absolute;
  top: 100vh;
  right: 0;

  button {
    
  }
  
}

i {
  width: 70px;
  height: 70px;
}
.btn {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    background-color: $color-success;
    outline: none;
    transition: all 0.2s;
}
.btn:hover {
    background: #db7b27;
}

.message {
  padding: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

