$color-first: rgb(124, 211, 233);
$color-second: rgb(28, 170, 28);
$color-third: rgb(196, 196, 196);

$font-text: 'Montserrat',
sans-serif;
/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
}
section {
  height: 100vh;
}

/* Section Intro */
.intro {
  background-color: #000;
  color: black;
  background-image: url(https://i.postimg.cc/GhqqwmjN/sn-rockpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    padding: 8px 0;
    font-size: 16px;
    font-weight: normal;
  }

  a {
    display: block;
    margin-top: 16px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  i {
    width: 50px;
    transition: .3s;
  }

  a:hover i {
    color: green;
  }
}

/* Section Rules */
.container {

  h1 {
    padding: 30px;
    text-transform: uppercase;
  }
  p {
    padding: 10px 0;
  }
}


/* Section Game */
.btn {
    padding: 20px;
    margin: 10px 10px;
    min-width: 160px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-style: none;
    background-color: #009432;
    border-radius: 5px;
    transition: all 0.2s;
}
.btn:hover {
    background: #e67e22;
    background-position: 0 100%;
}

.game-title {
  font-size: 30px;
  text-transform: uppercase;
}
.ready {
  padding: 10px 0 20px 0;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.message {
  padding: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

